torch>=2.0.0
torchvision>=0.15.0
ultralytics==8.0.20
opencv-python>=4.7.0
numpy>=1.23.0
pandas>=2.0.0
matplotlib>=3.7.0
tensorflow>=2.13.0
tensorflow-lite-support>=0.4.4
PyYAML>=6.0
seaborn>=0.12.2
tqdm>=4.65.0
ipython
jupyter
